*{
    margin:.5%;
    scroll-behavior: smooth;
  
}
.questions{
    font-family: sans-serif;
    padding: 1rem;
}


.exp{
    height:5%;
    font-size: 1.2rem;
    padding: 1%;
}

.main{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    position: relative;
    font-size: 1.2rem;
}

.footer{
    position: absolute;
    bottom:0;
    left:0;
}

input{
    height:8vh;
}

.quiz,
.choices {
    list-style-type: none;
    padding: 0;
}
.choices li {
    margin-bottom: 5px;
}
.choices label {
    display: flex;
    align-items: center;
}
.choices label,
input[type="radio"] {
    cursor: pointer;
}
input[type="radio"] {
    margin-right: 8px;
}
.view-results {
    padding: 1rem;
    cursor: pointer;
    font-size: inherit;
    color: white;
    background: teal;
    border-radius: 8px;
    margin-right: 5px;
}
.my-results {
    padding: 1rem;
    border: 1px solid goldenrod;
}